# =====================================================
# Python
# =====================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# =====================================================
# VSCode
# =====================================================
.vscode/

# =====================================================
# Virtual Environment
# =====================================================
venv/
env/
.venv/
qwen3_stage2/
qwen3_stage2*/

# Conda environment files
qwen3.yml

# =====================================================
# Models
# =====================================================
Qwen3-VL-4B-It/
*.safetensors
*.bin

# =====================================================
# Training outputs
# =====================================================
outputs/

# =====================================================
# Cache
# =====================================================
.cache/
runs/
wandb/

# =====================================================
# Temporary files
# =====================================================
*.tmp
*.bak

# =====================================================
# OS files
# =====================================================
.DS_Store
Thumbs.db

# =====================================================
# Secrets
# =====================================================
.env
.env.*
*.key